body{
    background-color: #d7e6b4;
    color:#7D493E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin:0
}
#container{
    width: 1000px ;
    margin: 0px auto;
    background-color: #F0BBB4 ;
    padding: 20px ;
    border-left: #fff solid 5px ;  
    border-right: #fff solid 5px;
    

}

h1{
    background-color: #B4CAF0;
    border: #6F7F9B, solid, 3px;
    border-radius: 5px;
    padding: 5px ; 
    margin-bottom: 7px;
    width: 65%;
    text-align: center;
    margin: 5px auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    text-align: center;
    font-size: 0.9em;
    font-style: inherit;
}

h3{
    border: double 5px #6F7F9B ;
    text-align: center;
    margin: 5px auto;
}

p{
    line-height: 1.7em;
     background-color:#E0F0B4;

}

img{
    float: left;
    width: 200px;
    border: #6F7F9B solid 5px ;
    margin-right: 10px
} 

a:link{
    color:rgb(155, 46, 251);
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color:rgb(177, 113, 255);
}

a:hover{
    color: rgb(244, 129, 219);
    text-decoration: underline;

}

a:active{
    color:rgb(1, 108, 111);
}

h3:hover{
    border-color: blue
}

#butteryellow{
   float: right; 
}
#fallharbor{
    width: 210px;
    height: 220px;
    float: left;
}

#Mintchocochip{
    width: 240px;
}

#p1{
    border: white solid 2px;
    padding: 20px 
}

#p2{
    border: #6F7F9B solid 2px;
    padding: 20px 
}
#p3{
    border: white solid 2px;
    padding: 20px 
}

/*Class rule */
.highlight{
    font-style: italic;
    background-color: rgb(189, 244, 226);
    padding: 3px;
    color: rgb(85, 148, 249)
}

#sidebar {
    background-color: #c4d7f9 ;
    margin: 20px 10px;
    padding: 30px ; 
    width: 225px ; 
    float: right; 
    border:#7D493E dotted 2px ; 
    line-height: 2.2em;  

}

@media(max-width: 1200px){
    #container{
        background-color: rgb(232, 170, 208);
        width: 800px
    }
}
@media (max-width:992px){
    #container{
       width:100% ;
    }
    #container,p{
        margin:0;
        padding:0;
        border: none;
    }
    h1,h2,h3,p,div{
        background-color: #E0F0B4 !important;
    }
}
@media(max-width:768px){
   #sidebar{ display: none;
   }
   img, #butteryellow, #fallharbor{
    clear:both;
    border: none;
    width:100%;
   }
   h3{
    border:none
   }
   }
